@{
    ViewData["ApplicationName"] = "eGift";
    int inceptionYear = 2024;
    int currentYear = DateTime.Now.Year;
    // User sessions
    int userID = 0;//Convert.ToInt32(Context.Session.GetInt32("UserID"));
    string userName = "Amaan";//Context.Session.GetString("UserName");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["ApplicationName"]</title>
    <!--CSS-->
    <!--Bootstrap Css-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Site Css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--Styles Css-->
    <link rel="stylesheet" href="~/eGift.Store.Razor.styles.css" asp-append-version="true" />

    <!--JS-->
    <!--Jquery Js-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--Site Js-->
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData["ApplicationName"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                    @if (userID == 0)
                    {
                        <ul class="navbar-nav float-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Index">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Create">Register</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav float-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="javascript:void(0)">Welcome, <b>@userName</b>!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">My Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Details">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page-handler="Logout" asp-area="" asp-page="/Account/Index"><b>Logout</b></a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - @ViewData["ApplicationName"] - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>