@using Microsoft.AspNetCore.Http;

@{
    ViewData["ApplicationName"] = "eGift";
    int inceptionYear = 2024;
    int currentYear = DateTime.Now.Year;
    // User sessions
    int userID = Convert.ToInt32(Context.Session.GetInt32("UserID"));
    string userName = Context.Session.GetString("UserName");
    // Last login sessions
    string loginDatetime = Context.Session.GetString("LoginDateTime");
    string lastLogin = Context.Session.GetString("LastLogin");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["ApplicationName"]</title>

    <!--CSS-->
    <!--Bootstrap Css-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Site Css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--Styles Css-->
    <link rel="stylesheet" href="~/eGift.Store.Razor.styles.css" asp-append-version="true" />

    <!--Datatable Css-->
    <link href="~/lib/datatable/datatable.css" rel="stylesheet" />
    <!--Font-Awesome Css-->
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <!--Toastr Css-->
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <!--Common Css-->
    <link href="~/css/common.css" rel="stylesheet" />

    <!--JS-->
    <!--Jquery Js-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--Bootstrap Js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--Site Js-->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--Datatable Js-->
    <script src="~/lib/datatable/js/datatable.min.js"></script>
    <script src="~/lib/datatable/datatable.js"></script>
    <!--Toastr Js-->
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <!--Common Js-->
    <script src="~/js/common.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData["ApplicationName"]</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                    </ul>
                    @if (userID == 0)
                    {
                        <ul class="navbar-nav float-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Create">Register</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav float-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="javascript:void(0)">Welcome, <b>@userName</b>!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Order/Index">My Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Customer/Details">My Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page-handler="Logout" asp-area="" asp-page="/Account/Login"><b>Logout</b></a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    &copy; @(inceptionYear == currentYear ? inceptionYear : inceptionYear + "-" + currentYear) - @ViewData["ApplicationName"] - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
                @if (userID > 0)
                {
                    <div class="col-auto">
                        Login : <b>@loginDatetime</b>
                    </div>
                    <div class="col-auto">
                        Last Login: <b>@lastLogin</b>
                    </div>
                }
            </div>
        </footer>

                    @await RenderSectionAsync("Scripts", required: false)
        <script type="text/javascript">
            $(document).ready(function () {
                //var toastrJson = Html.Raw(JsonConvert.SerializeObject(TempData["ToastrModel"]));
                var toastrJson = '@Html.Raw(TempData["ToastrModel"])';
                console.log(toastrJson);
                if (toastrJson != "") {
                    var toastrObject = JSON.parse(toastrJson);
                    ShowToastrMessages(toastrObject.Type, toastrObject.Message);
                }
            });
        </script>
    </body>
    </html>