@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var defaultImageUrl = Url.Content("~/images/default/default-product-image.png");
    // User sessions
    int userID = Convert.ToInt32(HttpContext.Session.GetInt32("UserID"));
}

<div class="Container">
    @if (Model.ProductListViewModel.ProductList.Count < 1)
    {
        <h4>Sorry, no product available.</h4>
    }
    else
    {
        if (userID > 0)
        {
            <div class="row mb-3">
                <div class="col-md-12">
                    <a asp-page="/Checkout/PlaceOrder" class="btn btn-primary float-end">Checkout</a>
                </div>
            </div>
        }

        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var product in Model.ProductListViewModel.ProductList)
            {
                <div class="col">
                    <div class="card h-100 align-text-center">
                        @if (product.ProductImageData != null)
                        {
                            <img src="data:image/*;base64,@Convert.ToBase64String(product.ProductImageData)" class="card-img-top card-image" />
                        }
                        else
                        {
                            <img class="card-img-top card-image" src="@defaultImageUrl" />
                        }

                        <div class="card-body align-text-center">
                            <h5 class="card-title">@product.Name</h5>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><b><i class="fa fa-inr" aria-hidden="true"></i> @product.UnitPrice</b></li>
                                <li class="list-group-item">Cateogory - @product.CategoryName</li>
                                <li class="list-group-item">Sub Cateogory - @product.SubCategoryName</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Details</a>
                            @if (userID > 0)
                            {
                                <button type="button" data-id="@product.ID" class="btn btn-primary add-to-cart">Add to Cart</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Add to Cart</button>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    }
</div>

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        @* <label for="UserName" asp-for="SignInViewModel.UserName" class="col-form-label"></label> *@
                        <input type="text" asp-for="SignInViewModel.UserName" class="form-control" id="UserName" placeholder="Username" />
                        <span asp-validation-for="SignInViewModel.UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        @* <label for="Password" asp-for="SignInViewModel.Password" class="col-form-label"></label> *@
                        <input type="password" class="form-control" asp-for="SignInViewModel.Password" id="Password" placeholder="Password" />
                        <span asp-validation-for="SignInViewModel.Password" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span class="me-auto">
                    Don't have an account?
                    <a asp-page="/Customer/Create" class="btn btn-link p-0">Register</a>
                </span>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btn-login" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/pages/index.js"></script>