@page
@using eGift.Store.Razor.Common
@using eGift.Store.Razor.Helpers
@model eGift.Store.Razor.Pages.Order.IndexModel
@{
    ViewData["Title"] = "My Orders";
    var defaultImageUrl = Url.Content("~/images/default/default-product-image.png");
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <hr />

    @if (Model.OrderDetailList.Count == 0)
    {
        // if no order is there
        <h4>You didn't place any order.</h4>
    }
    else
    {
        // to display orders
        @foreach (var order in Model.OrderDetailList)
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-3 align-text-center">
                            @if (order.ProductImageData != null)
                            {
                            <img src="data:image/*;base64,@Convert.ToBase64String(order.ProductImageData)" class="img-fluid rounded-start card-image">
                            }
                            else
                            {
                                <img src="@defaultImageUrl" class="img-fluid rounded-start card-image">
                            }
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <h5 class="card-title mb-3">@order.ProductName</h5>
                            <h6 class="card-text mb-3">@order.OrderNumber</h6>
                            <p class="card-text mb-2">@order.Notes</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            <h6>&#8377; @order.NetAmount</h6>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card-body">
                            @if (order.StatusId == 6)
                            {
                                <h6>@((Status)order.StatusId) on @order.UpdatedDate.ToDateString()</h6>
                            }
                            else if (order.StatusId == 5)
                            {
                                <h6>@((Status)order.StatusId) on @order.CancelDate.ToDateString()</h6>

                            }
                            else if (order.StatusId == 4)
                            {
                                <h6>@((Status)order.StatusId) on @order.DeliveryDate.ToDateString()</h6>

                            }
                            else if (order.StatusId == 3)
                            {
                                <h6>@((Status)order.StatusId) on @order.ShippedDate.ToDateString()</h6>

                            }
                            else if (order.StatusId == 2)
                            {
                                <h6>@((Status)order.StatusId) on @order.DispatchedDate.ToDateString()</h6>

                            }
                            else if (order.StatusId == 1)
                            {
                                <h6>Ordered on @order.CreatedDate.ToDateString()</h6>

                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
